<p id="notice"><%= notice %></p>

<p>
  <strong>Descricao:</strong>
  <%= @tarefa.descricao %>
</p>

<p>
  <strong>Acao:</strong>
  <%= @tarefa.acao %>
</p>

<p>
  <strong>Seletor:</strong>
  <%= @tarefa.seletor %>
</p>
<p>
  <strong>Conexão:</strong>
  <%= @tarefa.conexao.descricao %>
</p>
<%= link_to 'Edit', edit_tarefa_path(@tarefa) %> |
<%= link_to 'Back', tarefas_path %>
